.clientpost-card {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    color: black;
    box-shadow: -2px 2px 7px #0000007a;
}

.clientpost-card-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px !important;
}

.clientpost-card-info h5 {
    padding-left: 20px;
    margin-bottom: 0px;
}

.clientpost-card-info img {
    border-radius: 50%;
}

.clientpost-card .main-image {
    width: 100%;
}