.confirmpassword-main {
    padding: 70px 20px;
    background-image: none;
    padding-bottom: 150px;
    min-height: 120vh;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .confirmpassword-main {
        min-height: 100vh;
    }
}
