*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #907030;
	--color-title: #907030;
	--perspective: 1500px;
	--grid-item-ratio: 1.5;
	--grid-width: 100%;
	--grid-height: auto;
	--grid-gap: 2vw;
	--grid-columns: 4;
	--grid-inner-scale: 1;
}

@font-face {
  font-family: 'Uzi'; 
  src: url('https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}





.clientpost-main main {
	position: relative;
	overflow: hidden;
	width: 100%;
  margin-top:10vh;
}


.clientpost-main body #cdawrap {
    justify-self: start;
}



.clientpost-main .card-wrap {
	margin-top: 5vh;
	display: grid;
	grid-gap: 2rem;
	grid-auto-flow: row;
	grid-template-columns: 250px;
}

.clientpost-main .card__image {
	display: block;
	border-radius: 7px;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 3;
	filter: contrast(0.8);
}


.clientpost-main .content {
	position: relative;
	margin-bottom: 20vh;
}

.clientpost-main .content--spacing {
	margin-bottom: 15vw;
}

.clientpost-main .content__title {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 50%;
	left: 50%;
	margin: -50vh 0 0 -50vw;
	padding: 0 10vw;
	display: grid;
	place-items: center;
	text-align: center;
	font-weight: 300;
	font-size: clamp(1.5rem, 15vw, 6.5rem);
}

.clientpost-main .content__title--top {
	align-items: start;
}

.clientpost-main .content__title--bottom {
	align-items: end;
}

.clientpost-main .content__title--left {
	justify-items: start;
	text-align: left;
}

.clientpost-main .content__title--right {
	justify-items: end;
	text-align: right;
}

.clientpost-main .outro {
	display: grid;
	place-items: center;
	margin: 40vh 0;
}

.clientpost-main .grid {
	display: grid;
	place-items: center;
	padding: 2rem;
	width: 100%;
	perspective: var(--perspective);
}

.clientpost-main .grid-wrap {
	height: var(--grid-height);
	width: var(--grid-width);
	display: grid;
	grid-template-columns: repeat(var(--grid-columns),1fr);
	gap: var(--grid-gap);
	transform-style: preserve-3d;
}

.clientpost-main .grid__item {
	aspect-ratio: var(--grid-item-ratio);
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	border-radius: 8px;
	display: grid;
	place-items: center;

}

.clientpost-main .grid__item-inner {
	position: relative;
	width: calc(1 / var(--grid-inner-scale) * 100%);
	height: calc(1 / var(--grid-inner-scale) * 100%);
	background-size: cover;
	background-position: 50% 50%;
}

@media screen and (min-width: 53em) {


	.clientpost-main .card-wrap {
		grid-template-columns: repeat(3,250px);
	}

	.clientpost-main body #cdawrap {
	    justify-self: end;
	}
}

.clientpost-main .credits {
    font-size: 1.5rem;
    text-align: center;
    margin: 50vh auto 0;
    padding-bottom: 50vh;
}


.client-post-sec {
    height: 1000px;
    background-color: #907030;
}