/* @import 'https://unpkg.com/open-props' layer(design.system);
@import 'https://unpkg.com/open-props/normalize.dark.min.css'
  layer(base.normalize); */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@layer containers {
  .Navbar {
    position: sticky;
    inset-block-start: 0;
    z-index: var(--layer-3);
    background-color: var(--surface-1);
    block-size: var(--nav-block-size);

    .container {
      display: flex;
      margin-inline: auto;
      max-inline-size: var(--container);
      align-items: center;
      justify-content: space-between;
      padding-inline: var(--size-3);
    }

    @media (width > 768px) {
      #openMenuBtn {
        display: none;
      }
    }

    .menu {
      list-style: none;
      display: flex;
      background-color: var(--surface-1);

      > header {
        display: flex;
        justify-content: space-between;
        inline-size: 100%;
        padding-inline: var(--size-3);
        border-bottom: var(--border-size-2) solid var(--text-1);
      }

      @media (width < 768px) {
        flex-direction: column;
        align-items: start;
        position: fixed;
        inset-block: 0;
        inset-inline-end: 0;
        inline-size: 100%;
        gap: var(--size-7);

        display: none;
        &.open {
          display: flex;
        }
      }

      @media (width >= 768px) {
        gap: var(--gap);
        > header {
          display: none;
        }
      }
    }
  }

  section .container {
    max-inline-size: 1200px;
    padding-inline: var(--size-3);
    padding-block: var(--size-12);
    display: grid;
    gap: var(--gap);
    place-content: center;
    margin-inline: auto;
    padding-inline: var(--size-3);
  }

  .hero {
    display: grid;
    align-items: center;

    > * {
      grid-area: 1/1;
    }

    & h1 {
      text-align: center;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: normal;
      font-size: 7rem;
      text-transform: uppercase;
    }

    & p {
      max-inline-size: 25ch;
      font-size: var(--font-size-4);
      color: var(--surface-1);
      text-align: center;
      display: none;
    }

    .visual {
      background: var(--gradient-8);

      block-size: calc(100dvh - var(--nav-block-size));
      overflow: hidden;

      & img {
        object-fit: cover;
        inline-size: 100%;
        block-size: 100%;
      }
    }

    :is(picture, img) {
      inline-size: 100%;
      block-size: 100%;
    }

    .content {
      display: grid;
      place-items: center;
    }

    @media (width < 768px) {
      .content {
        gap: var(--size-3);
      }
      & h1 {
        font-size: var(--font-size-8);
        max-inline-size: var(--size-content-1);
        line-height: var(--font-lineheight-0);
      }
    }
  }

  .fold {
    display: grid;
    justify-content: center;
    padding: var(--size-10);

    & p {
      text-align: center;
      font-size: var(--font-size-7);
      max-inline-size: var(--size-content-2);
      @media (width < 768px) {
        font-size: var(--font-size-fluid-3);
      }
    }
  }

  .schedule {
    & h2 {
      font-size: var(--font-size-7);
      color: var(--brand-1);
      text-transform: uppercase;
    }

    & table {
      border: 3px solid var(--surface-1);
      inline-size: 100%;
    }

    .table-wrapper {
      display: grid;
      justify-items: center;
      gap: calc(var(--gap) / 2);
    }

    & tr:hover td {
      color: var(--brand-1);
       background-color: white;
    }

    @media (width > 768px) {
      .container {
        grid-template-columns: 1fr 1fr;
        gap: var(--size-10);
      }
    }
  }

  .showcase {
    display: grid;
    overflow: hidden;
    background-color: var(--surface-1);

    > * {
      grid-area: 1/1;
    }
    > .image-widthtext {
      display: block;
      inline-size: 100%;
    }
    > img {
      z-index: 1;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  @layer animation.scroll-driven {
    .showcase {
      view-timeline: --showcase;

      > img {
        animation: fade-overlay linear both;
        animation-timeline: --showcase;
        animation-range: 40% 60%;
        transform-origin: top center;
      }
    }

    .schedule {
      animation: to-white linear both;
      animation-timeline: view();
      animation-range-start: 4%;
      animation-range-end: 10%;
    }


    @keyframes fade-overlay {
      to {
        scale: 3.5;
        opacity: 0;
      }
    }
    /* Avoiding custom properties to ensure the animation remains on the compositor for optimal performance. */
    @keyframes to-brand {
      to {
        background-color: hsl(349 100% 58%);
      }
    }

    @keyframes to-white {
      to {
        background-color: white;
      }
    }

    @keyframes to-black {
      to {
        background-color: black;
      }
    }
  }

  @layer animation.reveal {
    .subject {
      opacity: 0;
    }

    .reveal-up {
      animation: fade-in 660ms ease forwards,
        slide-up 1000ms cubic-bezier(0, 0, 0.1, 1) forwards;
    }

    .reveal-down {
      animation: fade-in 660ms ease forwards,
        slide-down 1000ms cubic-bezier(0, 0, 0.1, 1) forwards;
    }

    @keyframes fade-in {
      to {
        opacity: 1;
      }
    }

    @keyframes slide-up {
      from {
        transform: translateY(-100px);
      }
    }

    @keyframes slide-down {
      from {
        transform: translateY(100px);
      }
    }
  }

  @layer animation.navbar {
    .Navbar {
      transition: transform 0.4s var(--ease-2);
      [scroll-direction='down'] & {
        transform: translateY(-200%);
      }
    }
  }

  @layer animation.scroll-driven.active-link {

    #schedules {
      view-timeline-name: --schedules;
    }


    @keyframes highlight {
      0%,
      100% {
        color: white;
      }
      30%,
      70% {
        color: hsl(349 100% 58%);
      }
    }
  }

}

@supports not (animation-timeline: scroll()) {
  .schedule {
    background-color: white;
  }
}

@media (prefers-reduced-motion: reduce) {
  .schedule {
    background-color: white;
  }

  .showcase {
    display: none;
  }
}

.image-widthtext {
    background-image: url('/public/assets/images/productimages/home/Brown\ Generative\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 55vw;
    background-position: center;
}

.image-widthtext img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 576px) {
  .image-widthtext {
    background-image: url('/public/assets/images/productimages/home/brown\ image\ website.webp');
    min-height: 170vw;
  }
}