.order-track-details {
    padding: 20px;
    min-height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
}

.order-track-details .order-track-details-main {
    background-color: whitesmoke;
    padding: 20px 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: -3px 4px 7px #c5c5c5;
    padding-bottom: 100px;
}

.order-track-details .order-track-details-main .order-track-userinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-track-details .order-track-details-main .order-track-show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-track-details .order-track-details-main .order-track-show .box {
    width: 50px;
    height: 50px;
    background-color: #00a4ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
}

.order-track-details .order-track-details-main .order-track-show .box-big {
    width: 25vw;
    height: 10px;
    background-color: #00a4ff;
}

.order-track-details .order-track-details-main .order-track-show .box div {
    position: absolute;
    color: black;
    font-size: 14px;
    text-align: center;
    bottom: -70px;
    width: 100px;
}

.order-track-details .order-track-details-main .order-track-show .box div p {
    margin: 0;
}

.join-throughmail {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.join-throughmail input[type="email"] {
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.join-throughmail input[type="button"] {
    padding: 10px 30px;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
}

