@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h6, h5, h4, h3, h2, h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

p, li {
  font-family: "Montserrat", sans-serif;
}

div#root {
  margin-top: -25px;
  /* overflow-x: hidden; */
}
